*{
    font-family: Arial, Helvetica, sans-serif;
}

.form-container{
    margin: auto;
    width: 70%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px 10px 15px 10px;

}
.form-control, .Gender-box, .Civil-box{
    margin-bottom: 10px;
}
textarea{
    width: 300px;
    height: 150px;
}
input[type="text"]{
    width: 90%;
}
button[type="submit"]{
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: blue;
}
button[type="submit"]:hover{
    background-color: rgb(86,86,255);
}
button[type="button"]{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: red;
}
button[type="button"]:hover{
    background-color: lightcoral;
}