*{
    font-family: Arial, Helvetica, sans-serif;
}

.form-container{
    margin:auto;
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px 10px 15px 10px;
}
.form-control{
    margin-bottom: 10px;
}
input[typer="text"]{
    width: 100%;
}
.email{
    width: 50%;
}
.Lname{
    width: 40%;
}
button[type="submit"]{
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: blue;
}
button[type="submit"]:hover{
    background-color: rgb(86,86,255);
}
button[type="button"]{
    background-color: red;
}
button[type="button"]:hover{
    background-color: lightcoral;
}